.proto-slide {
	padding: 20px 50px;
	width: calc(100% - 30px );
	max-width: 100%;
	margin: auto auto 20px;
	margin-bottom: auto;
	/*overflow: hidden;*/
	height: 225px;
	display: inline-block;
}

.proto-slide-box {
	/*width: 100%;*/
	width: calc(100% + 20px );
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 5px;
	min-height: 225px;
	height: 225px;
	text-align: center;
	border-radius: 5px;
	display: table;
}

@media (max-width: 768px) {
	.proto-slide-box {
		overflow-x: scroll;
	}
}

.proto-slide-box ul {
	/*border: 1px solid #ccc;*/
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: none;
}

.proto-slide-box ul li {
	float: left;
	width: 215px;
	display: table;
	margin-right: 10px;
}

.proto-slide-box ul li div {
	/* border: 1px solid #ccc;
	width: 100%;
	height: auto;
	margin: 10px;
	padding: 3px; */
}

.proto-slide .proto-slide-arrow {
	/*display: none;*/
	display: table;
	position: relative;
	top: -140px;
	width: 15px;
	height: 10px;
	padding: 3px 9px;
	border: 1px solid #aaa;
	border-radius: 50%;
	color: #aaa;
	background: #fff;
	cursor: pointer;
	font-weight: bold;
}

@media (max-width: 768px) {
	.proto-slide .proto-slide-arrow {
		display: none;
	}
}

.proto-slide .proto-slide-arrow-prev {
	left: -15px;
	float: left;
	box-shadow: 1px 1px 1px #ccc;
}

.proto-slide .proto-slide-arrow-next {
	right: -35px;
	float: right;
	box-shadow: -1px 1px 1px #ccc;
}


/* */

.proto-thumbnail-slide {
	padding: 5px 30px;
	width: 1000px;
	max-width: 100%;
	margin: auto auto 20px;
	margin-bottom: auto;
	/*overflow: hidden;*/
	height: 38px;
	display: inline-block;
}

.proto-thumbnail-slide .proto-slide-box {
	/*width: 100%;*/
	width: calc(100% + 5px );
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 5px;
	min-height: 48px;
	height: 48px;
	text-align: center;
	border-radius: 5px;
	display: table;
}

@media (max-width: 768px) {
	.proto-thumbnail-slide {
		padding: 5px 0px;
	}

	.proto-thumbnail-slide .proto-slide-box {
		overflow-x: scroll;
	}
}

.proto-thumbnail-slide .proto-slide-box ul {
	/*border: 1px solid #ccc;*/
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: none;
}

.proto-thumbnail-slide .proto-slide-box ul li {
	float: left;
	width: 50px;
	display: table;
	margin-right: 10px;
	cursor: pointer;
}

.proto-thumbnail-slide .proto-slide-box ul li img {
	object-fit: cover;
	width: 100%;
	height: 38px;
	border: black 1px dashed;
    box-sizing: content-box;
}

.proto-thumbnail-slide .proto-slide-box ul li img:hover {
	border: black 1px solid;
    box-sizing: content-box;
}

.proto-thumbnail-slide .proto-slide-box ul li div {
	/* border: 1px solid #ccc;
	width: 100%;
	height: auto;
	margin: 10px;
	padding: 3px; */
}

.proto-thumbnail-slide .proto-slide-arrow {
	/*display: none;*/
	display: table;
	position: relative;
	top: -38px;
	width: 15px;
	height: 10px;
	padding: 3px 9px;
	border: 1px solid #aaa;
	border-radius: 50%;
	color: #aaa;
	background: #fff;
	cursor: pointer;
	font-weight: bold;
}

@media (max-width: 768px) {
	.proto-thumbnail-slide .proto-slide-arrow {
		display: none;
	}
}

.proto-thumbnail-slide .proto-slide-arrow-prev {
	left: -30px;
	float: left;
	box-shadow: 1px 1px 1px #ccc;
}

.proto-thumbnail-slide .proto-slide-arrow-next {
	right: -30px;
	float: right;
	box-shadow: -1px 1px 1px #ccc;
}


/* */
