.faq {
	margin-left: 207px;
	margin-right: 206px;
	margin-top: 133px;
}

.faq__question {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 25px;
	margin: 30px 0;
}

.faq_content {
	font-weight: normal;
	margin-top: 30px;
}

.faq_list {
	font-weight: normal;
}

.faq__search-btn {
	background-color: #E3001B;
    color: #fff;
    border: none;
    border-radius: 10px 0px 10px 0px;
    transform: skewX(170deg);
    -ms-transform: skewX(170deg);
    margin-top: 80px;
    margin-bottom: 64px;
    width: 246px;
	height: 58px;
	margin-right: 20px;
}

.faq__search-btn-text {
	display: block;
    font-size: 22px;
    font-weight: 600;
    transform: skewX(10deg);
    -ms-transform: skewX(10deg);
}

@media screen and (max-width: 992px) {
	.faq {
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 13px;
	}

	.faq__question {
		font-size: 18px;
	}

	.faq_content {
		margin-top: 20px;
	}

	.faq__search-btn {
		width: 125px;
		height: 40px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.faq__search-btn-text {
		font-size: 16px;
	}
}