#banner {
    width: 100%;
}

#banner-search {
    position: absolute;
    width: 40%;
    max-width: 698px;
    height: 612px;
    padding: 10px 20px 20px;
    background-color: #fff;
    top: 273px;
    left: 71px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #00000029;
}

.banner-search__title {
    font-family: "Playfair Display", serif;
    font-size: 57px;
    color: #009DDD;
}

.banner-search__title a {
    color: #009DDD;
}

.banner-search__title--search-position {
    margin-top: 30px;
}

.banner__link {
    display: block;
    text-align: right;
    position: relative;
    bottom: 40px;
    right: 1%;
    color: #ff0000;
}

.banner-search__icon {
    margin: 5px 10px 5px 10px;
    overflow: hidden;
    background-color: #F6F8F8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Style the buttons inside the tab */
.banner-search__icon button {
  background-color: inherit;
  float: left;
  width: 25%;
  border: none;
  border-right: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  height: 60px;
}

/* Change background color of buttons on hover */
.banner-search__icon button:hover {
  border-bottom: 4px solid #eb212f;
  color: #eb212f;
}

/* Create an active/current tablink class */
.banner-search__icon button.active {
  border-bottom: 4px solid #ff0000;
  color: #ff0000;
}

.banner-search__selection {
    padding-bottom: 10px;
    padding-top: 5px;
}

.banner-search__selection select {
    border-radius: 30px; 
    background-color: #F6F8F8;
    border: none;
    color: black;
    font-size: 19px;
    appearance: none;
    padding-left: 32px;
    height: 60px;
}

.banner-search__text {
    border-radius: 30px; 
    background-color: #F6F8F8;
    border: none;
    color: black;
    font-size: 19px;
    padding-left: 32px;
    height: 60px;
}

.banner-search__selection--style::after {
    content: "";
    color: #E3001B;
    width: 0px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    position: absolute;
    margin-top: -40px;
    right: 58px;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.row .banner-search__selection::after {
    content: "";
    color: #E3001B;
    width: 0px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    position: absolute;
    top: 25px;
    right: 53px;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#banner-search__icon-box-motorcycle {
    border-right: none;
}

.banner-search__search-btn {
    width: 201px;
    height: 58px;
    background-color: #e3001b;
    color: #fff;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    transform: skewX(170deg);
    -ms-transform: skewX(170deg);
}

.banner-search__search-btn-text {
    display: block;
    font-size: 22px;
    font-weight: 600;
    transform: skewX(10deg);
    -ms-transform: skewX(10deg);
}

.banner-search__icon-text {
    color: #E3001B;
    text-decoration: underline;
}

#browser-by-car-make__section {
    display: block;
    width: 100%;
    background-color: #fff;
}

.banner-search__title--browse-position {
    margin-top: 80px;
}

.browser-by-car-make__icon {
    margin: 50px auto;
    overflow: hidden;
    width: 474px;
    background-color: #F6F8F8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.browser-by-car-make__icon button {
    background-color: inherit;
    float: left;
    width: 50%;
    border: none;
    border-right: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    height: 60px;
}

.browser-by-car-make__icon-box:hover, .browser-by-car-make__icon-box.active {
    border-bottom: 4px solid #ff0000;
    color: #ff0000;
}

.browser-by-car-make__row {
    margin-left: 102px;
    margin-right: 106px;
}

.browser-by-car-make__col {
    max-width: 256px;
}

.browser-by-car-make__logo {
    width: 256px;
    height: 150px;
    background-color: #F6F8F8;
    transform: skewX(170deg);
    -ms-transform: skewX(170deg);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px #7E7E7E33;
}

.browser-by-car-make__logo--margin {
    margin-bottom: 55px;
}

.img-car-make__logo {
    margin-top: 28px;
    margin-left: 72px;
    width: 117px;
    height: 100px;
    object-fit: contain;
    transform: skewX(10deg);
    -ms-transform: skewX(10deg);
}

.browser-by-car-make__label {
    width: 100%;
    text-align: center;
    color: #000;
}

.browser-by-car-make__more {
    display: inline-block;
    background-color: #fff;
    margin-bottom: 80px;
    color: #000;
}

.browser-by-car-make__array-row-list {
    list-style-type: none;
}

.browser-by-car-make__array-row-list li {
    display: inline-block;
    padding-left: 10%;
}

.superdeals-featured-cnabadv {
    width: 100%;
    padding-bottom: 83px;
}

.superdeals-featured-cnabadv--background-color {
    background-color: #FCFCFC;
}

.banner-search__title--superdeals-position {
    padding-top: 83px;
    margin-bottom: 80px;
}

.superdeals-featured-cnabadv__box {
    width: 100%;
    max-width: 1401px;
    margin: 0 auto;
}

.superdeals-featured-cnabadv__featured-ads-section-listing {
    box-shadow: 0px 3px 12px #00000026;
    background-color: #F6F8F8;
    border-radius: 20px;
    width: 424px;
    height: 571px;
    margin-right: 53px;
    padding: 33px 27px;
}

.featured-ads-section__title {
    color: #009DDD;
    font-size: 25px;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featured-ads-section__img {
    width: 370px;
    height: 208px;
    object-fit: cover;
}

.featured-ads-section__icon {
    width: 39px;
    height: 39px;
    object-fit: contain;
}

.featured-ads-section__month {
    font-size: 14px;
}

.featured-ads-section__price {
    color: #009DDD;
    font-weight: bold;
    font-size: 40px;
}

.featured-ads-section__price-currency {
    font-size: 14px;
    position: relative;
    bottom: 18px;
}

.featured-ads-section__text {
    font-size: 14px;
}

.featured-ads-section__desc {
    
}

.featured-ads-section__page {
    margin-bottom: 52px;
    font-weight: normal;
}

.featured-ads-section__page span {
    padding: 0 57px;
}

.superdeals-featured-cnabadv__insight {
    margin-top: 89px;
    margin-left: 120px;
    margin-right: 117px;
}

.superdeals-featured-cnabadv__insights {
    width: 396px;
    height: 611px;
    margin-right: 30px;
    padding-left: 38px;
    padding-right: 38px;
    background-color: #F6F8F8;
    box-shadow: 0px 3px 12px #1A18183B;
    border-radius: 10px;
}

.banner-search__title--insights-position {
    padding-top: 80px;
}

.superdeals-featured-cnabadv__paragraph {
    padding-top: 50px;
    margin-bottom: 80px;
}

.superdeals-featured-cnabadv__link {
    color: #E3001B;
    text-decoration: underline;
}

.superdeals-featured-cnabadv__link:hover, .superdeals-featured-cnabadv__link:active {
    color: #E3001B;
}

.superdeals-featured-cnabadv__image {
    transform: skewX(170deg);
    ms-transform: skewX(170deg);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 320px;
    height: 188px;
    object-fit: cover;
    margin: 34px auto 0 auto;
}

.superdeals-featured-cnabadv__insights-btn {
    width: 104px;
    height: 36px;
    background-color: #009DDD;
    background-image: radial-gradient(farthest-side at 92% 96%, #E3001B, #009DDD);
    border-radius: 20px;
    font-size: 14px;
    color: white;
}

.superdeals-featured-cnabadv__insights-btn:hover, .superdeals-featured-cnabadv__insights-btn:active {
    color: white;
}

.superdeals-featured-cnabadv__insights-desc {
    height: 141px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}

.superdeals-featured-cnabadv__insights-date {
    font-size: 14px;
}

@media screen and (max-width: 992px) {
    .banner__link {
        text-align: center;
    }

    #banner-search {
        position: static;
        width: 100%;
        height: auto;
    }

    .banner-search__title {
        font-size: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .banner-search__icon button {
        width: 25%;
        height: 40px;
    }

    .banner-search__selection select {
        height: 40px;
        font-size: 12px;
    }

    .banner-search__text {
        height: 40px;
        font-size: 12px;
    }

    .banner-search__selection--style::after {
        margin-top: -30px;
        right: 50px;
    }

    .row .banner-search__selection::after {
        top: 16px;
        right: 44px;
    }

    .banner-search__search-btn {
        width: 102px;
        height: 30px;
    }

    .banner-search__search-btn-text {
        font-size: 12px;
    }                

    .browser-by-car-make__icon  {
        width: 200px;
        margin: 15px auto;
    }

    .browser-by-car-make__icon button  {
        height: 40px;
    }

    .browser-by-car-make__row {
        margin-left: 50px;
        margin-right: 50px;
    }

    .browser-by-car-make__col {
        max-width: 100px;
    }

    .browser-by-car-make__logo--margin {
        margin-bottom: 10px;
    }

    .browser-by-car-make__logo {
        width: 80px;
        height: 58px;
    }

    .img-car-make__logo {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 21px;
    }

    .superdeals-featured-cnabadv__box {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .banner-search__title--insights-position {
        padding-top: 20px;
    }

    .superdeals-featured-cnabadv__featured-ads-section-listing {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        height: auto;
        padding: 10px;
    }

    .superdeals-featured-cnabadv__insights-btn--border {
        border: 20px solid linear-gradient(160deg, #009DDD 0%, #049AD9 13%, #1091CE 26%, #2583BD 40%, #426FA4 53%, #675584 67%, #95355C 81%, #CB102F 94%, #E3001B 100%);
    }

    .superdeals-featured-cnabadv__image {
        width: 253px;
        height: 128px;
        margin: 0 auto;
    }

    .superdeals-featured-cnabadv {
        padding-bottom: 20px;
    }

    .browser-by-car-make__array-row-list li {
        width: 33%;
    }

    .featured-ads-section__price {
        font-size: 25px;
    }

    .featured-ads-section__img {
        width: 253px;
        height: 128px;
    }

    .featured-ads-section__title {
        max-height: 71px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .superdeals-featured-cnabadv__insight {
        margin-left: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .superdeals-featured-cnabadv__insights {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        padding: 10px;
        height: auto;
    }

    .featured-ads-section__page {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    .featured-ads-section__page img {
        padding: 0 10px;
    }
}