.jumbotron {
	padding: 0;
	background-color: #009DDD;
	background-image: linear-gradient(174deg, #009ddd 0%, #049AD9 13%, #1091CE 26%, #2583BD 40%, #426FA4 53%, #675584 67%, #95355C 81%, #CB102F 94%, #e3001b 100%);
	height: 278px;
}

.jumbotron p {
	font-family: "Playfair Display", serif;
	font-size: 57px;
	padding-top: 101px;
	padding-left: 50px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.proto-slide {
    margin-bottom: auto;
    display: inline-block;
}

#link-slider {
    width: 100%;
    padding: 0px;
}

.proto-slide-box {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    border-radius: 5px;
    height: 80px;
    display: block;
}

.proto-slide-box ul {
    list-style-type: none;
    margin-left: 41px;
}

.proto-slide-box ul li {
    float: left;
    display: table;
}

.proto-slide-arrow {
    display: table;
    position: relative;
    bottom: 50px;
    width: 15px;
    height: 10px;
    padding: 3px 9px;
    border: 1px solid #aaa;
    border-radius: 50%;
    color: #aaa;
    background: #fff;
    cursor: pointer;
    font-weight: 700;
}

.proto-slide .proto-slide-arrow-prev {
    float: left;
    box-shadow: 1px 1px 1px #ccc;
    left: 10px;
}

.proto-slide .proto-slide-arrow-next {
    float: right;
    box-shadow: -1px 1px 1px #ccc;
    right: 10px;
}

.choose__list {
	list-style-type: none;
}

.choose__icon {
	width: 285px;
	height: 80px;
	border-radius: 40px;
	padding-top: 24px;
	font-size: 22px;
	font-weight: 600;
	background-color: #F6F8F8;
	margin-right: 30px;
}

.choose__icon img {
	padding-right: 20px;
}

a.choose__icon {
	color: #E3001B;
	text-decoration: none;
}

a.choose__icon:hover, a.choose__icon:active, a.choose__icon:focus, a.active {
	border: 1px solid #FF0000 !important;
	background-color : transparent !important;
	color: #E3001B !important;
	text-decoration: none !important;
}

.list-collapse {
	display: none;
}

.car-search__row {
	border-top: 0.5px solid #4D4E4E;
    padding: 0 15px;
}

.car-search__column {
	min-width: 512px;
    border-right: 0.5px solid #4D4E4E;
    min-height: 2611px;
    margin-left: -15px;
}

.car-search__border {
	border-bottom: 0.5px solid #4D4E4E;
	padding: 30px 38px 30px 42px;
}

.car-search__margin {
    margin-top: 33px;
}

.ui-slider {
    background-color: #EEEFF5;
    border-radius: 20px;
    margin-top: 23px;
    height: 5px !important;
}

.ui-slider-range {
    background-image: linear-gradient(115deg, #009DDD 0%, #049AD9 13%, #1091CE 26%, #2583BD 40%, #426FA4 53%, #675584 67%, #95355C 81%, #CB102F 94%, #E3001B 100%);
}

.ui-slider-handle {
    background-color: #009DDD;
    border-radius: 20px;
    width: 15px !important;
    height: 15px !important;
}

#custom-handle-2, #custom-handle-4, #custom-handle-6 {
    background-color: #E3001B;
}

.car-search-feedback {
    position: absolute;
    width: 25px;
    top: 47px;
    left: 72px;
}

.car-search-text {
    border-radius: 30px; 
    background-color: #F6F8F8;
    border: none;
    color: black;
    font-size: 19px;
    padding-left: 85px;
    height: 60px;
}

.car-search__filter-text {
	font-size: 20px; 
	display: none;
}

.car-search__link {
	display: inline-block;
	margin-top: 8px;
    color: #E3001B;
    text-decoration: underline;
}

.car-search__clear {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.car-search__clear-margin {
    margin-bottom: 21px;
}

.car-search__slide {
    background-color: #F6F8F8;
    border-radius: 31px;
    border: none;
    width: 191px;
    height: 62px;
    font-size: 19px;
    font-weight: 600;
    padding: 0px;
}

.car-search__slide--position {
    padding: 18px;
}

.car-search__slide-rm {
    font-weight: normal;
    font-size: 14px;
}

.car-search__slide-to {
    padding-left: 9px;
    padding-right: 9px;
}

.car-list {
	margin-left: 80px;
    margin-right: 50px;
}

.car-list__head {
	margin-top: 32px;
}

.car-list__show {
	margin-top: 7px;
	margin-bottom: 46px;
	font-weight: normal;
}

.car-list__sort {
	font-size: 22px;
    text-align: right;
}

.car-list__sort select {
	display: inline-block;
	margin-left: 32px;
	border-radius: 30px; 
    background-color: #F6F8F8;
    border: none;
    color: black;
    font-size: 19px;
    appearance: none;
    padding-left: 30px;
    width: 253px;
	height: 60px;
}

.car-list__sort::after {
    content: "";
    color: #E3001B;
    width: 0px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    position: absolute;
    top: 20px;
    right: 40px;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.car-search__button {
    background-color: #f6f8f8;
    border-radius: 28px;
    border: none;
    color: #E3001B;
    font-size: 22px;
    font-weight: 600;
    padding-top: 13px;
    white-space: normal;
    min-width: 90px;
    min-height: 56px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.car-search__button:hover, .car-search__button:focus, .car-search__button:active, .car-search__button.active {
	border: 1px solid #FF0000 !important;
	background-color: transparent !important;
	color: #E3001B !important;
    text-decoration: none !important;
}

.car-search__collapse {
	font-size: 23px;
}

.superdeals-featured-cnabadv__featured-ads-section-listing--adjust {
	margin-right: 18px;
	margin-bottom: 30px;
}

.car-list__position {
    display: table;
    width: 100%;
    position: relative;
}

.car-list__bookmark {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.car-list__bookmark img {
    padding: 10px;
    width: 40px;
}

.superdeals-featured-cnabadv__insights-btn--position {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.car-list__used {
    width: 1310px;
    height: 274px;
    object-fit: cover;
}

.jumbotron--layer {
    transform: skewX(168deg);
    -ms-transform: skewX(168deg);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    bottom: 284px;
    left: 30px;
    opacity: 0.8;
    max-width: 1246px;
}

.jumbotron--layer p {
	padding-top: 50px;
	padding-left: 0;
	margin-bottom: 0px;
    transform: skewX(12deg);
    -ms-transform: skewX(12deg);
}

.jumbotron__button {
	padding-top: 0px !important;
}

.jumbotron .banner-search__search-btn {
	margin-top: 26px;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 992px) {
	.jumbotron p {
		padding-left: 20px;
		font-size: 30px;
	}

	.proto-slide {
		display: none;
	}

	.list-collapse {
		display: block;
	}

	.list-collapse ul {
		list-style: none;
        padding: 0;
	}

	.choose__icon-responsive {
		font-size: 19px;
		border-radius: 40px;
		background-color: #F6F8F8;
		color: #E3001B;
		width: 250px;
	}

	.choose__icon-responsive:hover, .choose__icon-responsive:focus, .choose__icon-responsive:active, .choose__icon-responsive.active {
		border: 1px solid #FF0000 !important;
		background-color: transparent !important;
		color: #E3001B !important;
	    text-decoration: none !important;
	}

	.choose__icon-responsive img {
		width: 40px;
		height: 40px;
		object-fit: contain;
		padding-right: 10px;
	}

	.car-search__border {
    	padding: 10px 25px 20px;
        margin-right: -29px;
    }

    .car-search-feedback {
    	width: 20px;
    	top: 20px;
    	left: 65px;
    }

    .car-search__filter-text {
		display: block;
	}

    .car-search-text {
    	font-size: 12px;
    	width: 170px;
    	height: 40px;
    }

    .car-search__column {
    	min-width: auto;
        min-height: auto;
        border-right: none;
    }

	.car-search__column .form-control {
	    padding-left: 70px;
	}

    .car-search__column-responsive {
        padding: 16px;
        border-left: 0.5px solid #4D4E4E; 
        border-bottom: 0.5px solid #4D4E4E;
        margin-right: -15px;
    }

	.car-list__head {
		text-align: center;
	}

    .car-search__desktop {
    	display: none;
    }

    .car-list {
        margin: 0;
        max-width: 100%;
        min-height: auto;
    }

    .car-list__show {
    	margin-bottom: 10px;
    }

    .car-list__sort {
    	font-size: 20px;
        text-align: center;
    }

    .car-list__sort select {
    	font-size: 12px;
    	margin-left: 10px;
    	width: 200px;
    	height: 40px;
    }

    .car-list__sort::after {
        top: 10px;
        right: 84px;
    }

    .superdeals-featured-cnabadv__featured-ads-section-listing--adjust {
        margin: 0 auto;
        margin-bottom: 20px;
	}

	.car-list__used {
		height: 200px;
        width: 300px;
	}

    .jumbotron--layer {
        width: 300px;
        height: 200px;
        bottom: 210px;
    }

	.jumbotron .btn {
		padding: 0px;
	}
}




