.numberplate-search__image {
	width: 370px;
    height: 208px;
    background-color: #009DDD;
}

.numberplate-search__image-text {
	font-size: 57px;
    font-weight: bold;
    font-style: italic;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 66px;
    color: #fff;
}

.numberplate-search__link:focus, .numberplate-search__link:hover, .numberplate-search__link:active {
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .numberplate-search__image {
        width: 280px;
        height: 140px;    
    }

    .numberplate-search__image-text {
        font-size: 30px;
    }
}