.dealer-list__star {
	width: 33px;
}

.dealer-list__rating {
	font-weight: normal;
}

.dealer-list__review, .dealer-list__view {
	color: #E3001B;
    text-decoration: underline;
}

.dealer-list__review {
	color: #E3001B;
    text-decoration: underline;
	display: inline-block;
	padding-left: 19px;
}