.user-login {
	margin-left: 158px;
	margin-right: 117px;
	margin-top: 51px;
}

.user-login__column-left {
	padding-right: 59px;
}

.user-login__column-right {
	border-left: 1px solid #707070;
	padding-left: 85px;
}

.user-login__title {
	margin-bottom: 29px;
}

.banner-search__text--resize {
	width: 710px;
}

.banner-search__text--margin {
	margin-bottom: 50px;
}

.user-login__flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.user-login__divider {
	width: 100%; 
	text-align: center; 
	border-bottom: 1px solid #000; 
	line-height: 0.1em;
	font-size: 25px;
    margin: 30px auto 40px;
}

.user-login__divider span { 
    background:#fff; 
    padding: 0 30px; 
}

.user-login__alternate {
	width: 710px;
	height: 60px;
	background-color: #4D6AAD;
	margin: 0 auto 20px;
}

.user-login__alternate img {
	padding-right: 21px;
}

.user-login__facebook {
	color: #fff;
	font-size: 22px;
	position: relative;
	top: 10px;
}

.user-login__terms {
	font-size: 14px;
	padding-top: 20px;
	padding-left: 52px;
	padding-bottom: 30px;
}

.user-login__terms label { 
	margin-left: 20px;
}

.user-login__alternate--color {
	background-color: #fff;
	box-shadow: 0px 3px 6px #00000029;
}

.user-login__google {
	color: #000;
	font-size: 22px;
	position: relative;
	top: 10px;
}

@media screen and (max-width: 992px) {
	.user-login {
		margin-left: 30px;
		margin-right: 20px;
	}

	.user-login__column-left {
		padding-right: 0px;
	}

	.banner-search__text--resize, .user-login__alternate {
		width: 300px;
		margin-bottom: 20px;
	}

	.user-login__divider {
		font-size: 18px;
	}

	.user-login__facebook, .user-login__google {
		font-size: 15px;
	}

	.user-login__column-right {
		padding-left: 0px;
		border-left: none;
		border-top: 1px solid #000; 
	}

	.user-login__terms {
		padding: 10px 0px 15px;
		font-size: 9px;
	}

	.user-login__terms label {
		margin-left: 10px;
	}
}