body {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: black;
    margin: 0;
}

.navbar-light {
    background-color: white;
    max-height: 134px;
    height: 100%;
    padding-left: 50px;
    padding-right: 45px;
    border: none;
}

.navbar-light .nav-link {
    color: black !important;
}

.navbar-brand {
   margin-top: 32px;
}

#logo {
    width: 100%;
    max-width: 186px;
    position: relative;
    bottom: 15px;
}

#logo-responsive {
    display: none;
}

.mr-auto {
    font-size: 25px;
    margin-left: 20px;
}

.mr-auto .nav-link {
    padding-right: 38px !important;
    background-color: transparent !important;
}

.mr-auto .nav-link:hover, .mr-auto .nav-link:active, .mr-auto .nav-link:focus, .mr-auto .nav-link:focus-visible {
    background-color: transparent !important;
    color: #E3001B !important;
    text-decoration: underline !important;
}

.mr-auto .dropdown-menu {
    margin-top: 59px !important;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    font-size: 19px;
}

#w2 {
    width: 100%;
    min-width: 1412px;
}

#w3 {
    width: 100%;
    min-width: 556px;
}

.mr-auto .dropdown-header {
    padding: 0;
    font-size: 25px;
    color: #1A1818;
    margin-bottom: 28px;
}

.mr-auto .dropdown-item  {
    margin-bottom: 28px;
    padding-left: 0;
}

.mr-auto .dropdown-toggle::after {
    display: none;
}

.ml-auto {
    font-size: 18px;
    flex-basis: 21rem;
}

.ml-auto .nav-item {
    padding-right: 32px !important;
}

.ml-auto .dropdown {
    border-radius: 30px; 
    background-color: #F6F8F8;
    padding-top: 5px;
    padding-left: 32px;
    width: 100%;
    max-width: 164px;
    height: 60px;
}

.ml-auto .dropdown-toggle::after {
    color: #E3001B;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-left: none;
    border-top: none;
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.ml-auto .dropdown-menu {
    border: none;
    border-radius: 10px !important;
    background-color: #F6F8F8;
    padding-top: 21px;
}

.ml-auto .dropdown-item {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 30px;
    padding-left: 25px;
}

.main-header__comparison-images {
    height: 100%;
    max-height: 35px;
}

.padding-bottom-10 {
    padding-bottom: 10px!important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

.page-home {
    width: 100%;
}

.banner__show {
    position: relative;
}

#banner {
    width: 100%;
}

#banner-search {
    position: absolute;
    width: 100%;
    max-width: 698px;
    height: 612px;
    padding: 30px 38px 30px;
    background-color: #fff;
    top: 273px;
    left: 71px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #00000029;
}

.banner-search__title {
    font-family: "Playfair Display", serif;
    font-size: 57px;
    font-weight: bold;
    font-style: italic;
    color: #009DDD;
    word-break: break-word;
}

.banner-search__title a {
    color: #009DDD;
}

.banner-search__title--search-position {
    margin-top: 20px;
}

.banner__link {
    display: block;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ff0000;
    text-decoration: underline;
}

.banner-search__icon {
    margin: 30px 10px 41px;
    overflow: hidden;
    background-color: #F6F8F8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Style the buttons inside the tab */
.banner-search__icon-box {
  background-color: inherit;
  font-weight: 600;
  float: left;
  width: 25%;
  border: none;
  border-right: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  height: 60px;
}

/* Change background color of buttons on hover */
.banner-search__icon-box:hover {
  border-bottom: 4px solid #eb212f;
  color: #eb212f;
}

/* Create an active/current tablink class */
.banner-search__icon-box.active {
  border-bottom: 4px solid #ff0000;
  color: #ff0000;
}

.banner-search__selection {
    padding-bottom: 10px;
    padding-top: 5px;
}

.banner-search__selection select {
    border-radius: 30px; 
    background-color: #F6F8F8;
    border: none;
    color: black;
    font-size: 19px;
    font-weight: 600;
    appearance: none;
    padding-left: 32px;
    height: 60px;
}

.banner-search__text {
    border-radius: 30px; 
    background-color: #F6F8F8;
    border: none;
    color: black;
    font-size: 19px;
    padding-left: 32px;
    height: 60px;
}

.banner-search__selection--style::after {
    content: "";
    color: #E3001B;
    width: 0px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    position: absolute;
    margin-top: -40px;
    right: 87px;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.form-row .banner-search__selection::after {
    content: "";
    color: #E3001B;
    width: 0px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    position: absolute;
    top: 25px;
    right: 53px;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#banner-search__icon-box-motorcycle {
    border-right: none;
}

.banner-search__search-btn {
    width: 100%;
    max-width: 201px;
    height: 58px;
    background-color: #e3001b;
    color: #fff;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    transform: skewX(170deg);
    -ms-transform: skewX(170deg);
}

.banner-search__search-btn-text {
    display: block;
    font-size: 22px;
    font-weight: 600;
    transform: skewX(10deg);
    -ms-transform: skewX(10deg);
}

.banner-search__icon-text {
    color: #E3001B;
    text-decoration: underline;
}

#browser-by-car-make__section {
    display: block;
    width: 100%;
    background-color: #fff;
}

.banner-search__title--browse-position {
    margin-top: 80px;
}

.browser-by-car-make__icon {
    margin: 50px auto;
    overflow: hidden;
    width: 100%;
    max-width: 474px;
    background-color: #F6F8F8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.browser-by-car-make__icon button {
    background-color: inherit;
    font-weight: 600;
    float: left;
    width: 50%;
    border: none;
    border-right: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    height: 60px;
}

.browser-by-car-make__icon-box:hover, .browser-by-car-make__icon-box.active {
    border-bottom: 4px solid #ff0000;
    color: #ff0000;
}

.browser-by-car-make__row {
    margin-left: 102px;
    margin-right: 106px;
}

.browser-by-car-make__logo {
    width: 100%;
    max-width: 256px;
    height: 150px;
    background-color: #F6F8F8;
    transform: skewX(170deg);
    -ms-transform: skewX(170deg);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px #7E7E7E33;
    padding: 23px 35px 17px 28px;
}

.browser-by-car-make__logo--margin {
    margin-bottom: 55px;
}

.img-car-make__logo {
    width: 100%;
    max-width: 194px;
    height: 110px;
    object-fit: contain;
    transform: skewX(10deg);
    -ms-transform: skewX(10deg);
}

.browser-by-car-make__label {
    width: 100%;
    text-align: center;
    color: #000;
}

.browser-by-car-make__more {
    display: inline-block;
    background-color: #fff;
    margin-bottom: 80px;
    color: #000;
}

.browser-by-car-make__array-row-list {
    list-style-type: none;
}

.browser-by-car-make__array-row-list li {
    display: inline-block;
    padding-left: 10%;
}

.superdeals-featured-cnabadv {
    width: 100%;
    padding-bottom: 83px;
}

.superdeals-featured-cnabadv--background-color {
    background-color: #FCFCFC;
}

.banner-search__title--superdeals-position {
    padding-top: 83px;
    margin-bottom: 80px;
}

.superdeals-featured-cnabadv__box {
    width: 100%;
    max-width: 1401px;
    margin: 0 auto;
}

.superdeals-featured-cnabadv__featured-ads-section-listing {
    box-shadow: 0px 3px 12px #00000026;
    background-color: #F6F8F8;
    border-radius: 20px;
    width: 100%;
    max-width: 424px;
    height: 571px;
    margin-right: 53px;
    padding: 33px 27px;
}

.featured-ads-section__title {
    color: #009DDD;
    font-size: 25px;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featured-ads-section__title a {
    color: #009DDD;
}

.featured-ads-section__img {
    width: 100%;
    max-width: 370px;
    height: 100%;
    max-height: 208px;
    object-fit: cover;
}

.featured-ads-section__icon {
    width: 100%;
    max-width: 39px;
    height: 100%;
    max-height: 39px;
    object-fit: contain;
}

.featured-ads-section__month {
    font-size: 14px;
}

.featured-ads-section__price {
    color: #009DDD;
    font-weight: bold;
    font-size: 40px;
    word-break: break-all;
}

.featured-ads-section__price-currency {
    font-size: 14px;
    position: relative;
    bottom: 18px;
}

.featured-ads-section__text {
    font-size: 14px;
}

.featured-ads-section__desc {
    
}

.featured-ads-section__page {
    margin-bottom: 52px;
    font-weight: normal;
}

.featured-ads-section__page span {
    padding: 0 57px;
}

.superdeals-featured-cnabadv__insight {
    margin-top: 89px;
    margin-left: 120px;
    margin-right: 117px;
}

.superdeals-featured-cnabadv__insights {
    width: 100%;
    max-width: 396px;
    height: 611px;
    margin-right: 30px;
    padding-left: 38px;
    padding-right: 38px;
    background-color: #F6F8F8;
    box-shadow: 0px 3px 12px #1A18183B;
    border-radius: 10px;
}

.banner-search__title--insights-position {
    padding-top: 80px;
}

.superdeals-featured-cnabadv__paragraph {
    padding-top: 50px;
    margin-bottom: 80px;
}

.superdeals-featured-cnabadv__link {
    color: #E3001B;
    text-decoration: underline;
}

.superdeals-featured-cnabadv__link:hover, .superdeals-featured-cnabadv__link:active {
    color: #E3001B;
}

.superdeals-featured-cnabadv__image {
    transform: skewX(170deg);
    ms-transform: skewX(170deg);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    max-width: 320px;
    height: 188px;
    object-fit: cover;
    margin: 34px auto 0 auto;
}

.superdeals-featured-cnabadv__insights-btn {
    width: 100%;
    max-width: 104px;
    height: 100%;
    min-height: 36px;
    background-color: #009DDD;
    background-image: radial-gradient(farthest-side at 92% 96%, #E3001B, #009DDD);
    border-radius: 20px;
    font-size: 14px;
    color: white;
}

.superdeals-featured-cnabadv__insights-btn:hover, .superdeals-featured-cnabadv__insights-btn:active {
    color: white;
}

.superdeals-featured-cnabadv__insights-desc {
    height: 141px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}

.superdeals-featured-cnabadv__insights-date {
    font-size: 14px;
}

.jumbotron {
    padding: 0;
    background-color: #009DDD;
    background-image: linear-gradient(174deg, #009ddd 0%, #049AD9 13%, #1091CE 26%, #2583BD 40%, #426FA4 53%, #675584 67%, #95355C 81%, #CB102F 94%, #e3001b 100%);
    height: 278px;
}

.jumbotron p {
    font-family: "Playfair Display", serif;
    font-size: 57px;
    padding-top: 101px;
    padding-left: 50px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.proto-slide {
    margin-bottom: auto;
    display: inline-block;
}

#link-slider {
    width: 100%;
    padding: 0px;
}

.proto-slide-box {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    border-radius: 5px;
    height: 80px;
    display: block;
}

.proto-slide-box ul {
    list-style-type: none;
    margin-left: 41px;
}

.proto-slide-box ul li {
    float: left;
    display: table;
}

.proto-slide-arrow {
    display: table;
    position: relative;
    bottom: 50px;
    width: 15px;
    height: 10px;
    padding: 3px 9px;
    border: 1px solid #aaa;
    border-radius: 50%;
    color: #aaa;
    background: #fff;
    cursor: pointer;
    font-weight: 700;
}

.proto-slide .proto-slide-arrow-prev {
    float: left;
    box-shadow: 1px 1px 1px #ccc;
    left: 10px;
}

.proto-slide .proto-slide-arrow-next {
    float: right;
    box-shadow: -1px 1px 1px #ccc;
    right: 10px;
}

.choose__list {
    list-style-type: none;
}

.choose__icon {
    width: 285px;
    height: 80px;
    border-radius: 40px;
    padding-top: 24px;
    font-size: 22px;
    font-weight: 600;
    background-color: #F6F8F8;
    margin-right: 30px;
}

.choose__icon img {
    padding-right: 20px;
}

a.choose__icon {
    color: #E3001B;
    text-decoration: none;
}

a.choose__icon:hover, a.choose__icon:active, a.choose__icon:focus, a.active {
    border: 1px solid #FF0000 !important;
    background-color : transparent !important;
    color: #E3001B !important;
    text-decoration: none !important;
}

.list-collapse {
    display: none;
}

.car-search__row {
    border-top: 0.5px solid #4D4E4E;
}

.car-search__column {
    width: 100%;
    max-width: 512px;
    border-right: 0.5px solid #4D4E4E;
    min-height: 2611px;
}

.car-search__border {
    border-bottom: 0.5px solid #4D4E4E;
    padding: 30px 38px 30px 42px;
}

.car-search__margin {
    margin-top: 33px;
}

.ui-slider {
    background-color: #EEEFF5;
    border-radius: 20px;
    margin-top: 23px;
    height: 5px !important;
}

.ui-slider-range {
    background-image: linear-gradient(115deg, #009DDD 0%, #049AD9 13%, #1091CE 26%, #2583BD 40%, #426FA4 53%, #675584 67%, #95355C 81%, #CB102F 94%, #E3001B 100%);
}

.ui-slider-handle {
    background-color: #009DDD;
    border-radius: 20px;
    width: 15px !important;
    height: 15px !important;
}

#custom-handle-2, #custom-handle-4, #custom-handle-6 {
    background-color: #E3001B;
}

.car-search-feedback {
    position: absolute;
    width: 25px;
    top: 47px;
    left: 72px;
}

.car-search-text {
    border-radius: 30px; 
    background-color: #F6F8F8;
    border: none;
    color: black;
    font-size: 19px;
    padding-left: 85px;
    height: 60px;
}

.car-search__filter-text {
    font-size: 20px; 
    display: none;
}

.car-search__link {
    display: inline-block;
    margin-top: 8px;
    color: #E3001B;
    text-decoration: underline;
}

.car-search__clear {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.car-search__clear-margin {
    margin-bottom: 21px;
}

.car-search__slide {
    background-color: #F6F8F8;
    border-radius: 31px;
    border: none;
    width: 100%;
    max-width: 191px;
    height: 62px;
    font-size: 19px;
    font-weight: 600;
    padding: 0px;
}

.car-search__slide--position {
    padding: 18px;
}

.car-search__slide-rm {
    font-weight: normal;
    font-size: 14px;
}

.car-search__slide-to {
    padding-left: 9px;
    padding-right: 9px;
}

.car-list {
    margin-left: 50px;
    margin-right: 50px;
}

.car-list__head {
    margin-top: 32px;
}

.car-list__show {
    margin-top: 7px;
    margin-bottom: 46px;
    font-weight: normal;
}

.car-list__sort {
    font-size: 22px;
    text-align: right;
}

.car-list__sort select {
    display: inline-block;
    margin-left: 32px;
    border-radius: 30px; 
    background-color: #F6F8F8;
    border: none;
    color: black;
    font-size: 19px;
    appearance: none;
    padding-left: 30px;
    width: 100%;
    max-width: 253px;
    height: 60px;
}

.car-list__sort::after {
    content: "";
    color: #E3001B;
    width: 0px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    position: absolute;
    top: 20px;
    right: 40px;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.car-search__button {
    background-color: #f6f8f8;
    border-radius: 28px;
    border: none;
    color: #E3001B;
    font-size: 22px;
    font-weight: 600;
    padding-top: 13px;
    white-space: normal;
    min-width: 90px;
    min-height: 56px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.car-search__button:hover, .car-search__button:focus, .car-search__button:active, .car-search__button.active {
    border: 1px solid #FF0000 !important;
    background-color: transparent !important;
    color: #E3001B !important;
    text-decoration: none !important;
}

.car-search__collapse {
    font-size: 23px;
}

.superdeals-featured-cnabadv__featured-ads-section-listing--adjust {
    margin-bottom: 30px;
}

.car-list__position {
    display: table;
    width: 100%;
    position: relative;
}

.car-list__bookmark {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.car-list__bookmark img {
    padding: 10px;
    width: 40px;
}

.car-list__bookmark:not(.car-list__show-bookmark) .car-list__all {
    display: none;
}

.car-list__bookmark.car-list__show-bookmark .car-list__all {
    display: inline;
}

.car-list__bookmark:not(.car-list__show-bookmark) .car-list__none {
    display: inline;
}

.car-list__bookmark.car-list__show-bookmark .car-list__none {
    display: none;
}

.superdeals-featured-cnabadv__insights-btn--position {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.car-list__used {
    width: 100%;
    max-width: 1310px;
    height: 274px;
    object-fit: cover;
}

.jumbotron--field {
    position: relative;
}

.jumbotron--layer {
    transform: skewX(168deg);
    -ms-transform: skewX(168deg);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: absolute;
    top: 0;
    left: 30px;
    opacity: 0.8;
    width: 100%;
    max-width: 1246px;
}

.jumbotron--layer p {
    padding-top: 50px;
    padding-left: 0;
    margin-bottom: 0px;
    transform: skewX(12deg);
    -ms-transform: skewX(12deg);
}

.jumbotron__button {
    padding-top: 0px !important;
}

.jumbotron .banner-search__search-btn {
    margin-top: 26px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
}

#popupFrame {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background-color: rgba(0,0,0,.6);
    z-index: 99999;
}

#videoForm {
    width: 90%;
    background-color: #fff;
    margin: auto;
    height: auto;
    position: fixed;
    left: 5%;
    margin-top: 30px;
}

#title {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid #cecece;
    position: relative;
    height: 50px;
}

#closeBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #efefef;
    cursor: pointer;
}

#video-popup-frame-container {
    width: 100%;
    height: auto;
    max-height: 300px;
}

#popupFrame .video-popup-frame {
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 300px;
    max-height: 400px;
}

.dealer-list__star {
    width: 33px;
}

.dealer-list__rating {
    font-weight: normal;
}

.dealer-list__review, .dealer-list__view {
    color: #E3001B;
    text-decoration: underline;
}

.dealer-list__review {
    color: #E3001B;
    text-decoration: underline;
    display: inline-block;
    padding-left: 19px;
}

.numberplate-search__image {
    width: 100%;
    max-width: 370px;
    height: 100%;
    max-height: 208px;
    background-color: #009DDD;
}

.numberplate-search__image-text {
    font-size: 57px;
    font-weight: bold;
    font-style: italic;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 66px;
    color: #fff;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.numberplate-search__link:focus, .numberplate-search__link:hover, .numberplate-search__link:active {
    text-decoration: none;
}

.banner-search__title--gap {
    margin-bottom: 21px;
}

.breadcrumb {
    height: 103px;
    background-color: #FCFCFC;
    padding-top: 35px;
    padding-left: 50px;
}

.breadcrumb li a {
    font-size: 19px;
    font-weight: normal;
    color: #1A1718;
}

.breadcrumb li.active {
    font-size: 22px;
    color: #E3001B;
}

.car-view {
    margin: 80px 107px 60px 58px;
}

.car-view__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.car-view__flex a, .car-view__link {
    color: #E3001B;
    text-decoration: underline;
}

.carousel-indicators .active {
    width: 104px;
    background-color: #E3001B;
    border-radius: 50px;
}

.carousel-indicators li {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    opacity: 1;
}

.carousel-text {
    position: absolute;
    bottom: 0;
    left: 10%;
}

.car-view__image {
    width: 100%;
}

.car-view__variant {
    margin-top: 10px;
    margin-bottom: 26px;
    font-size: 25px;
}

.car-view__price {
    color: #009DDD;
}

.car-view__price-figure {
    font-weight: bold;
    font-size: 50px;
    word-break: break-all;
}

.car-view__price-currency {
    position: relative;
    bottom: 25px;
}

.car-view__price-type {
    font-weight: normal;
    margin-bottom: 35px;
}

.car-view__price-type img {
    margin-left: 20px;
}

.car-view__image--margin {
    margin-top: 37px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: skewX(170deg);
}

.car-view__fixed {
    position: fixed;
    bottom: 0px;
    padding-left: 50px;
    background-color: #E3001B;
    min-height: 110px;
    width: 100%;
    z-index: 1;
}

.car-view__fixed-price {
    max-width: 260px;
    margin-top: 14px;
}

.car-view__fixed-text {
    color: white;
}

.car-view__fixed-button {
    border: none;
    border-radius: 50%;
    background-color: #F6F8F8;
    height: 64px;
    width: 100%;
    max-width: 64px;
    margin-right: 30px;
    margin-top: 23px;
}

.car-view__fixed-button img {
    margin-top: 10px;
}

.car-view__fixed-text--stylise {
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    font-family: "Playfair Display", serif;
    position: relative;
    top: 20px;
}

.car-view__fixed-text--enlarge {
    font-size: 39px;
    font-weight: bold;
    margin-top: 14px;
    word-break: break-all;
}

.car-view__fixed-text--position {
    position: relative;
    bottom: 20px;
}

.car-view__fixed-text--resize {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: normal;
}

.car-view__search-btn {
    background-color: #009DDD;
    color: #fff;
    border: none;
    border-radius: 10px 0px 10px 0px;
    transform: skewX(170deg);
    -ms-transform: skewX(170deg);
    margin-top: 26px;
    width: 100%;
    max-width: 201px;
    height: 58px;
    margin-right: 20px;
}

.car-view__search-btn--red {
    background-color: #eb212f;
}

.car-view__search-btn-text {
    display: block;
    font-size: 22px;
    font-weight: 600;
    transform: skewX(10deg);
    -ms-transform: skewX(10deg);
}

.banner-search__title--position {
    padding-top: 80px;
}

.car-view__details {
    margin-top: 31px;
    margin-left: 313px;
    margin-right: 313px;
}

.car-view__details-image {
    width: 100%;
    max-width: 40px;
    height: 100%;
    max-height: 40px;
    object-fit: contain;
    margin-top: 16px;
}

.car-view__details-highlights {
    margin-top: 80px;
    margin-left: 350px;
    margin-right: 349px;
}

.car-view__highlights {
    column-count: 2;
    column-fill: auto;
}

.superdeals-featured-cnabadv-container {
    width: 1276px;
    margin: 0 auto;
}

.car-view__rating {
    font-weight: normal;
}

.car-view__link--padding {
    display: inline-block;
    padding-left: 19px;
}

.car-view__rating-list {
    margin-bottom: 52px;
}

.car-view__dealer {
    margin-bottom: 30px;
}

.car-view__dealer-type {
    font-weight: normal;
}

.car-view__search-btn--align {
    margin-top: 125px;
}

.superdeals-featured-cnabadv--padding {
    padding-top: 86px;
}

.car-view__tab {
    margin: 0 auto;
    overflow: hidden;
    width: 516px;
    border: none;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Style the buttons inside the tab */
.car-view__tab button {
    background-color: inherit;
    font-weight: 600;
    float: left;
    width: 33.33%;
    border: none;
    border-right: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 19px;
    height: 60px;
}

.car-view__tab--resize {
    width: 10%;
}

.car-view__tab--resize button {
    width: 100%;
}

/* Change background color of buttons on hover */
.car-view__tab button:hover {
    color: #E3001B;
    border-bottom: 4px solid #E3001B;
}

/* Create an active/current tablink class */
.car-view__tab button.active {
    color: #E3001B;
    border-bottom: 4px solid #E3001B;
}

.car-view__tab-show {
    margin-top: 50px;
    font-weight: normal;
}

.car-view__calculate {
    border-radius: 30px;
    background-color: #F6F8F8;
    border: none;
    color: black;
    font-size: 19px;
    padding-left: 32px;
    height: 60px;
}

.banner-search__title--margin {
    padding-top: 83px;
    margin-bottom: 50px;
}

.car-view__position {
    display: table;
    width: 100%;
    position: relative;
}

.car-view__link-outer {
    margin-top: 30px;
}

.superdeals-featured-cnabadv__featured-ads-section-listing--center {
    margin: 0 auto;
}

.dealer-view {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 80px;
}

.dealer-view__image {
  transform: skewX(170deg);
  ms-transform: skewX(170deg);
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  width: 100%;
  max-width: 931px;
  height: 100%;
  max-height: 578px;
  object-fit: cover;
}

.car-view__search-btn--position {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dealer-view__tab {
    margin: 0 auto;
  overflow: hidden;
  width: 267px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 20px 20px 0px 0px;
}

.dealer-view__tab button {
  background-color: inherit;
  float: left;
  width: 50%;
  border: none;
  border-right: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 19px;
  height: 60px;
}

.dealer-view__tab button:hover, .dealer-view__tab button.active {
  background-color: #ffffff;
  border-bottom: 4px solid #E3001B;
  color: #E3001B;
}

.superdeals-featured-cnabadv__content {
  margin: 80px 85px 0;
  padding-top: 80px;
}

.dealer-view__sale {
  margin-top: 47px;
  padding-top: 47px;
  margin-bottom: 54px;
}

.dealer-view__show {
  margin-top: 7px;
  margin-bottom: 46px;
  font-weight: normal;
}

.dealer-view__sort {
  font-size: 22px;
}

.dealer-view__sort select {
  display: inline-block;
  margin-left: 32px;
  border-radius: 30px; 
    background-color: #F6F8F8;
    border: none;
    color: black;
    font-size: 19px;
    appearance: none;
    padding-left: 30px;
    width: 253px;
  height: 60px;
}

.dealer-view__sort::after {
    content: "";
    color: #E3001B;
    width: 0px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    position: absolute;
    top: 20px;
    right: 55px;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.superdeals-featured-cnabadv__featured-ads-section-listing--change {
    margin-right: 18px;
    margin-bottom: 44px;
}

.dealer-view__numberplate {
    width: 100%;
    max-width: 370px;
    height: 100%;
    max-height: 208px;
    background-color: #009DDD;
}

.dealer-view__numberplate-text {
    font-size: 57px;
    font-weight: bold;
    font-style: italic;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 66px;
    color: #fff;
    height: 130px;
    word-break: break-word;
    overflow: hidden;
}

.dealer-view__numberplate-link:focus, .dealer-view__numberplate-link:hover, .dealer-view__numberplate-link:active {
    text-decoration: none;
}

.dealer-view__review {
  margin-bottom: 20px;
}

.numberplate-view__numberplate {
    width: 100%;
    max-width: 843px;
    height: 562px;
    border-radius: 35px;
    background-color: #009DDD;
}

.numberplate-view__numberplate-text {
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    font-family: "Playfair Display", serif;
    text-align: center;
    padding-top: 215px;
    color: #fff;
}

.user-login {
    margin-left: 158px;
    margin-right: 117px;
    margin-top: 51px;
}

.user-login__column-left {
    padding-right: 59px;
}

.user-login__column-right {
    border-left: 1px solid #707070;
    padding-left: 85px;
}

.user-login__title {
    margin-bottom: 29px;
}

.banner-search__text--resize {
    max-width: 710px;
}

.banner-search__text--margin {
    margin-bottom: 50px;
}

.user-login__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.user-login__divider {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    font-size: 25px;
    margin: 30px auto 40px;
}

.user-login__divider span { 
    background:#fff; 
    padding: 0 30px; 
}

.user-login__alternate {
    max-width: 710px;
    height: 60px;
    background-color: #4D6AAD;
    margin: 0 auto 20px;
}

.user-login__alternate img {
    padding-right: 21px;
}

.user-login__facebook {
    color: #fff;
    font-size: 22px;
    position: relative;
    top: 10px;
}

.user-login__terms {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 52px;
    padding-bottom: 30px;
}

.user-login__terms label { 
    margin-left: 20px;
}

.user-login__alternate--color {
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
}

.user-login__google {
    color: #000;
    font-size: 22px;
    position: relative;
    top: 10px;
}

.used-car__subtitle {
    font-weight: normal;
    margin: 50px 0;
}

.used-car__content-social {
    margin-bottom: 30px;
}

.used-car__content-social--margin {
    margin-top: 50px;
}

.used-car__content {
    margin-left: 225px;
    margin-right: 225px;
}

.used-car__content-initial {
    margin-top: 50px;
    margin-bottom: 30px;
}

.used-car__content-tip {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
}

.used-car__content-explain {
    font-weight: normal;
    padding-top: 15px;
}

.used-car__content-image, .used-car__content-social {
    max-width: 100%;
}

.faq {
    margin-left: 207px;
    margin-right: 206px;
    margin-top: 133px;
}

.faq__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    margin: 30px 0;
}

.faq_content {
    font-weight: normal;
    margin-top: 30px;
}

.faq_list {
    font-weight: normal;
}

.faq__search-btn {
    background-color: #E3001B;
    color: #fff;
    border: none;
    border-radius: 10px 0px 10px 0px;
    transform: skewX(170deg);
    -ms-transform: skewX(170deg);
    margin-top: 80px;
    margin-bottom: 64px;
    width: 246px;
    height: 58px;
    margin-right: 20px;
}

.faq__search-btn-text {
    display: block;
    font-size: 22px;
    font-weight: 600;
    transform: skewX(10deg);
    -ms-transform: skewX(10deg);
}

.banner-search__title--adjust {
    margin: 81px 0 50px;
}

.banner-search__icon--adjust {
    margin: 0 437px 50px;
}

.banner-search__icon-box--adjust {
    width: 16.66% !important;
}

.bookmark__list {
    margin-left: 65px;
    margin-right: 59px;
}

.superdeals-featured-cnabadv__featured-ads-section-listing--taller {
    height: 648px;
}

.car-view__search-btn--margin {
    margin-top: 0px;
}

#footer-section {
    width: 100%;
    list-style: none;
    margin: 0px;
    box-sizing: border-box;
    padding-top: 83px;
    padding-bottom: 0px;
    background-color: #009DDD;
    color: white;
    padding-left: 116px;
    padding-right: 116px;
}

.footer-section__left h3 {
    font-size: 25px;
}

.footer-section__left-responsive {
    display: none;
}

.footer-section__location {
    list-style-type: none;
    font-weight: normal;
    padding: 2px 0;
}

.footer-section__right {
    width: 100%;
    max-width: 314px;
}

.footer-section__connect {
    display: flex;
}

.footer-section__connect_icon {
    width: 100%;
    max-width: 49px;
    margin-right: 40px;
}

.footer-section__location a, .low-footer a, .footer-section__left-responsive a {
    color: white;
}

.low-footer {
    padding-top: 52px;
}

.low-footer__bottom-section {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.low-footer__bottom-section-list {
    padding: 0 50px;
}

.low-footer__bottom-section-list--no-padding-left {
    padding-left: 0;
}

.low-footer__bottom-section-list--no-padding-right {
    padding-right: 0;
}

.low-footer__bottom-copyright {
    margin-top: 50px;
    margin-bottom: 75px;
}

.footer-section__contact {
    font-weight: normal;
    line-height: 1;
}

@media screen and (max-width: 992px) {
    body {
        font-size: 12px;
    }

    #main-header {
        display: none;
    }

    #logo-responsive {
        width: 100%;
        max-width: 100px;
        display: block;
        position: absolute;
        left: 36%;
        top: 10px;
    }

    .header__nav {
        display: block;
        width: 70px;
        height: 50px;
        position: fixed;
        border: none;
        bottom: 12%;
        right: 9%;
        transform: skewX(170deg);
        -webkit-transform: skewX(170deg);
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 10px;
        background-color: #F6F8F8;
        z-index: 2;
        box-shadow: 1px 1px 1px #ccc;
    }

    .header__burger {
        display: block;
        width: 30px;
        height: 2px;
        border-radius: 1px;
        margin-left: 5px;
        margin-bottom: 7px;
        background-color: black;
        transform: skewX(10deg);
        -webkit-transform: skewX(10deg);
    }

    .header__burger--adjust {
        width: 15px;
    }

    .banner__link {
        text-align: center;
    }

    #banner-search {
        position: static;
        width: 100%;
        height: auto;
    }

    .banner-search__title {
        font-size: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .banner-search__icon button {
        width: 25%;
        height: 40px;
    }

    .banner-search__selection select {
        height: 40px;
        font-size: 12px;
    }

    .banner-search__text {
        height: 40px;
        font-size: 12px;
    }

    .banner-search__selection--style::after {
        margin-top: -30px;
        right: 70px;
    }

    .form-row .banner-search__selection::after {
        top: 16px;
        right: 37px;
    }

    .banner-search__search-btn {
        width: 102px;
        height: 30px;
    }

    .banner-search__search-btn-text {
        font-size: 12px;
    }                

    .browser-by-car-make__icon  {
        width: 200px;
        margin: 15px auto;
    }

    .browser-by-car-make__icon button  {
        height: 40px;
    }

    .browser-by-car-make__row {
        margin-left: 50px;
        margin-right: 50px;
    }

    .browser-by-car-make__col {
        max-width: 100px;
    }

    .browser-by-car-make__logo--margin {
        margin-bottom: 10px;
    }

       .browser-by-car-make__logo {
        max-width: 80px;
        max-height: 58px;
        padding: 10px 15px;
    }

    .img-car-make__logo {
        max-width: 40px;
        height: 40px;
    }

    .superdeals-featured-cnabadv__box {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .banner-search__title--insights-position {
        padding-top: 20px;
    }

    .superdeals-featured-cnabadv__featured-ads-section-listing {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        height: auto;
        padding: 10px;
    }

    .superdeals-featured-cnabadv__insights-btn--border {
        border: 20px solid linear-gradient(160deg, #009DDD 0%, #049AD9 13%, #1091CE 26%, #2583BD 40%, #426FA4 53%, #675584 67%, #95355C 81%, #CB102F 94%, #E3001B 100%);
    }

    .superdeals-featured-cnabadv__image {
        width: 253px;
        height: 128px;
        margin: 0 auto;
    }

    .superdeals-featured-cnabadv {
        padding-bottom: 20px;
    }

    .browser-by-car-make__array-row-list li {
        width: 33%;
    }

    .featured-ads-section__price {
        font-size: 25px;
    }

    .featured-ads-section__img {
        width: 253px;
        height: 128px;
    }

    .featured-ads-section__title {
        max-height: 71px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .superdeals-featured-cnabadv__insight {
        margin: 10px auto;
    }

    .superdeals-featured-cnabadv__insights {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        padding: 10px;
        height: auto;
    }

    .featured-ads-section__page {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    .featured-ads-section__page img {
        padding: 0 10px;
    }

    .jumbotron p {
        padding-left: 20px;
        font-size: 30px;
    }

    .proto-slide {
        display: none;
    }

    .list-collapse {
        display: block;
    }

    .list-collapse ul {
        list-style: none;
        padding: 0;
    }

    .choose__icon-responsive {
        font-size: 19px;
        border-radius: 40px;
        background-color: #F6F8F8;
        color: #E3001B;
        width: 250px;
    }

    .choose__icon-responsive:hover, .choose__icon-responsive:focus, .choose__icon-responsive:active, .choose__icon-responsive.active {
        border: 1px solid #FF0000 !important;
        background-color: transparent !important;
        color: #E3001B !important;
        text-decoration: none !important;
    }

    .choose__icon-responsive img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        padding-right: 10px;
    }

    .car-search__border {
        padding: 10px 25px 20px;
    }

    .car-search-feedback {
        width: 20px;
        top: 20px;
        left: 65px;
    }

    .car-search__filter-text {
        display: block;
    }

    .car-search-text {
        font-size: 12px;
        width: 170px;
        height: 40px;
    }

    .car-search__column {
        max-width: 100%;
        min-height: auto;
        border-right: none;
    }

    .car-search__column .form-control {
        padding-left: 70px;
    }

    .car-search__column-responsive {
        padding: 16px 12px 8px;
        border-left: 0.5px solid #4D4E4E; 
        border-bottom: 0.5px solid #4D4E4E;
    }

    .car-list__head {
        text-align: center;
    }

    .car-search__desktop {
        display: none;
    }

    .car-list {
        margin: 0;
        max-width: 100%;
        min-height: auto;
    }

    .car-list__show {
        margin-bottom: 10px;
    }

    .car-list__sort {
        font-size: 20px;
        text-align: center;
    }

    .car-list__sort select {
        font-size: 12px;
        margin-left: 10px;
        width: 200px;
        height: 40px;
    }

    .car-list__sort::after {
        top: 10px;
        right: 84px;
    }

    .superdeals-featured-cnabadv__featured-ads-section-listing--adjust {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .car-list__used {
        height: 200px;
        width: 300px;
    }

    .jumbotron--layer {
        width: 300px;
        height: 200px;
        bottom: 210px;
    }

    .jumbotron .btn {
        padding: 0px;
    }

    .numberplate-search__image {
        width: 280px;
        height: 140px;    
    }

    .numberplate-search__image-text {
        font-size: 30px;
    }

    .breadcrumb {
        margin-top: 60px;
        padding: 10px;
        height: auto;
    }

    .breadcrumb li.active {
        font-size: 12px;
    }

    .breadcrumb li a {
        font-size: 12px;
    }
    

    .car-view {
        margin-left: 15px;
        margin-right: 0px;
    }

    .car-view__flex {
        font-size: 12px;
    }

    .car-view__variant {
        font-size: 20px;
    }

    .car-view__price-currency {
        bottom: 10px;
    }

    .car-view__price-figure {
        font-size: 30px;
    }

    .banner-search__title--position {
        padding-top: 20px;
    }

    .car-view__fixed {
        height: auto;
        padding-left: 40px;
    }

    .car-view__fixed-button {
        width: 35px;
        height: 35px;
        margin-top: 10px;
        margin-right: 10px;
    }

    .car-view__fixed-button img {
        width: 20px;
        margin-top: 0;
        margin-left: -4px;
    }

    .car-view__fixed-text--stylise {
        top: 10px;
        font-size: 22px;
    }

    .car-view__fixed-price {
        display: none;
    }

    .car-view__search-btn {
        width: 115px;
        height: 40px;
        margin-top: 0px;
    }

    .car-view__search-btn-text {
        font-size: 16px;
    }

    .car-view__details {
        margin-left: 15px;
        margin-right: 15px;
    }

    .car-view__details-highlights {
        margin-left: 15px;
        margin-right: 15px;
    }

    .car-view__search-btn--align {
        margin-top: 10px; 
    }

    .car-view__calculate {
        height: auto;
        padding-left: 20px;
    }

    .superdeals-featured-cnabadv-container {
        width: 320px;
    }

    .car-view__highlights {
        column-count: initial;
        height: auto;
    }

    .car-view__tab {
        width: 80%;
    }

    .car-view__tab button {
        font-size: 12px;
        height: 50px;
    }

    .dealer-view__image {
        width: 250px;
        height: 150px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        margin-left: 0px;
    }

    .superdeals-featured-cnabadv__content {
        margin-left: 10px;
        margin-right: 10px;
    }

   .superdeals-featured-cnabadv__featured-ads-section-listing--change {
        margin: 0 auto 30px;
    }

    .dealer-view__numberplate {
        width: 253px;
        height: 128px;
    }

    .dealer-view__numberplate-text {
        font-size: 40px;
        margin-top: 20px;
    }

    .numberplate-view__numberplate {
        width: 300px;
        height: 200px;
        margin: 0 auto;
    }

    .numberplate-view__numberplate-text {
        font-size: 50px;
        padding-top: 40px;
    }

    .user-login {
        margin-left: 30px;
        margin-right: 20px;
    }

    .user-login__column-left {
        padding-right: 0px;
    }

    .banner-search__text--resize, .user-login__alternate {
        width: 300px;
        margin-bottom: 20px;
    }

    .user-login__divider {
        font-size: 18px;
    }

    .user-login__facebook, .user-login__google {
        font-size: 15px;
    }

    .user-login__column-right {
        padding-left: 0px;
        border-left: none;
        border-top: 1px solid #000; 
    }

    .user-login__terms {
        padding: 10px 0px 15px;
        font-size: 9px;
    }

    .user-login__terms label {
        margin-left: 10px;
    }

    .used-car__subtitle {
        margin: 20px 0;
    }

    iframe {
        height: 100%;
    }

    .used-car__content-social {
        margin-bottom: 15px;
    }

    .used-car__content-social--margin {
        margin-top: 30px;
    }

    .used-car__content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .used-car__content-initial {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .used-car__content-explain {
        padding-top: 10px;
    }

    .used-car__content-tip {
        font-size: 30px;
    }

    .faq {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 13px;
    }

    .faq__question {
        font-size: 18px;
    }

    .faq_content {
        margin-top: 20px;
    }

    .faq__search-btn {
        width: 125px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .faq__search-btn-text {
        font-size: 16px;
    }

    .banner-search__title--adjust {
        margin-top: 40px;
    }

    .banner-search__icon--adjust {
        margin: 10px 10px 10px;
    }

    .bookmark__list {
        margin-left: 20px;
        margin-right: 20px;
    }

    #footer-section {
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer-section__left {
        display: none;
    }

    .footer-section__left-responsive {
        display: block;
    }

    .footer-section__connect_icon {
        margin-right: 20px;
    }

    .footer-section__column {
        display: flex;
        justify-content: space-between;
    }

    .footer-section__column-plus {
        font-size: 30px;
    }

    .footer-section__divider {
        padding-left: 0;
        padding-right: 0;
    }

    .low-footer__bottom-section-list {
        padding-right: 10px;
    }
}



