.used-car__subtitle {
	font-weight: normal;
	margin: 50px 0;
}

.used-car__content-social {
	margin-bottom: 30px;
}

.used-car__content-social--margin {
	margin-top: 50px;
}

.used-car__content {
	margin-left: 225px;
	margin-right: 225px;
}

.used-car__content-initial {
	margin-top: 50px;
	margin-bottom: 30px;
}

.used-car__content-tip {
	font-family: "Playfair Display", serif;
	font-size: 45px;
}

.used-car__content-explain {
	font-weight: normal;
	padding-top: 15px;
}

.used-car__content-image, .used-car__content-social {
	max-width: 100%;
}

@media screen and (max-width: 992px) {
	.used-car__subtitle {
		margin: 20px 0;
	}

	iframe {
		height: 100%;
	}

	.used-car__content-social {
		margin-bottom: 15px;
	}

	.used-car__content-social--margin {
		margin-top: 30px;
	}

	.used-car__content {
		margin-left: 20px;
		margin-right: 20px;
	}

	.used-car__content-initial {
		margin-top: 30px;
		margin-bottom: 15px;
	}

	.used-car__content-explain {
		padding-top: 10px;
	}

	.used-car__content-tip {
		font-size: 30px;
	}
}