.dealer-view {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 80px;
}

.dealer-view__image {
  transform: skewX(170deg);
  ms-transform: skewX(170deg);
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  width: 931px;
  height: 578px;
  object-fit: cover;
  margin-left: 50px;
}

.car-view__search-btn--position {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dealer-view__tab {
	margin: 0 auto;
  overflow: hidden;
  width: 267px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 20px 20px 0px 0px;
}

.dealer-view__tab button {
  background-color: inherit;
  float: left;
  width: 50%;
  border: none;
  border-right: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 19px;
  height: 60px;
}

.dealer-view__tab button:hover, .dealer-view__tab button.active {
  background-color: #ffffff;
  border-bottom: 4px solid #E3001B;
  color: #E3001B;
}

.superdeals-featured-cnabadv__content {
  margin: 80px 85px 0;
  padding-top: 80px;
}

.dealer-view__sale {
  margin-top: 47px;
  padding-top: 47px;
  margin-bottom: 54px;
}

.dealer-view__show {
  margin-top: 7px;
  margin-bottom: 46px;
  font-weight: normal;
}

.dealer-view__sort {
  font-size: 22px;
}

.dealer-view__sort select {
  display: inline-block;
  margin-left: 32px;
  border-radius: 30px; 
    background-color: #F6F8F8;
    border: none;
    color: black;
    font-size: 19px;
    appearance: none;
    padding-left: 30px;
    width: 253px;
  height: 60px;
}

.dealer-view__sort::after {
    content: "";
    color: #E3001B;
    width: 0px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    position: absolute;
    top: 20px;
    right: 95px;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.superdeals-featured-cnabadv__featured-ads-section-listing--change {
    margin-right: 18px;
    margin-bottom: 44px;
}

.dealer-view__numberplate {
    display: inline-block;
    width: 370px;
    height: 208px;
    background-color: #009DDD;
}

.dealer-view__numberplate-text {
    font-size: 57px;
    font-weight: bold;
    font-style: italic;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 66px;
    color: #fff;
}

.dealer-view__numberplate-link:focus, .dealer-view__numberplate-link:hover, .dealer-view__numberplate-link:active {
    text-decoration: none;
}

.dealer-view__review {
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .dealer-view__image {
      width: 250px;
      height: 150px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      margin-left: 0px;
  }

  .superdeals-featured-cnabadv__content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .superdeals-featured-cnabadv__featured-ads-section-listing--change {
      margin: 0 auto 30px;
  }

  .dealer-view__numberplate {
      width: 253px;
      height: 128px;
  }

  .dealer-view__numberplate-text {
    font-size: 40px;
    margin-top: 20px;
  }

}
