.banner-search__title--gap {
	margin-bottom: 21px;
}

.breadcrumb {
	height: 103px;
	background-color: #FCFCFC;
	padding-top: 35px;
	padding-left: 50px;
}

.breadcrumb li a {
	font-size: 19px;
	font-weight: normal;
	color: #1A1718;
}

.breadcrumb li.active {
	font-size: 22px;
	color: #E3001B;
}

.car-view {
	margin-left: 58px;
	margin-right: 107px;
	margin-top: 80px;
}

.car-view__flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.car-view__flex a, .car-view__link {
	color: #E3001B;
    text-decoration: underline;
}

.car-view__image {
	width: 100%;
}

.car-view__variant {
	margin-top: 10px;
	margin-bottom: 26px;
	font-size: 25px;
}

.car-view__price {
	color: #009DDD;
}

.car-view__price-figure {
	font-weight: bold;
	font-size: 50px;
}

.car-view__price-currency {
	position: relative;
	bottom: 25px;
}

.car-view__price-type {
	font-weight: normal;
	margin-bottom: 35px;
}

.car-view__price-type img {
	margin-left: 20px;
}

.car-view__image--margin {
	margin-top: 37px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	transform: skewX(170deg);
}

.car-view__fixed {
	position: fixed;
	bottom: 0px;
	padding-left: 50px;
	background-color: #E3001B;
	min-height: 110px;
	width: 100%;
	z-index: 1;
}

.car-view__fixed-price {
	max-width: 260px;
}

.car-view__fixed-text {
	color: white;
}

.car-view__fixed-button {
	border: none;
	border-radius: 50%;
	height: 64px;
	width: 64px;
	margin-right: 30px;
	margin-top: 23px;
}

.car-view__fixed-button img {
	margin-top: 10px;
}

.car-view__fixed-text--stylise {
	font-size: 35px;
	font-weight: bold;
	font-style: italic;
	font-family: "Playfair Display", serif;
	margin-top: 32px;
}

.car-view__fixed-text--enlarge {
	display: inline-block;
	font-size: 39px;
	font-weight: bold;
	margin-top: 14px;
	margin-right: 20px;
}

.car-view__fixed-text--position {
	position: relative;
	bottom: 20px;
}

.car-view__fixed-text--resize {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: normal;
}

.car-view__search-btn {
    background-color: #009DDD;
    color: #fff;
    border: none;
    border-radius: 10px 0px 10px 0px;
    transform: skewX(170deg);
    -ms-transform: skewX(170deg);
    margin-top: 26px;
    width: 201px;
	height: 58px;
	margin-right: 20px;
}

.car-view__search-btn--red {
    background-color: #eb212f;
}

.car-view__search-btn-text {
    display: block;
    font-size: 22px;
    font-weight: 600;
    transform: skewX(10deg);
    -ms-transform: skewX(10deg);
}

.banner-search__title--position {
	padding-top: 80px;
}

.car-view__details {
	margin-top: 31px;
	margin-left: 313px;
	margin-right: 313px;
}

.car-view__details-image {
	margin-top: 16px;
}

.car-view__details-highlights {
	margin-top: 80px;
	margin-left: 350px;
	margin-right: 349px;
}

.car-view__highlights {
	column-count: 2;
	column-fill: auto;
}

.superdeals-featured-cnabadv-container {
	width: 1276px;
	margin: 0 auto;
}

.car-view__rating {
	font-weight: normal;
}

.car-view__link--padding {
	display: inline-block;
	padding-left: 19px;
}

.car-view__rating-list {
	margin-bottom: 52px;
}

.car-view__dealer {
	margin-bottom: 30px;
}

.car-view__dealer-type {
	font-weight: normal;
}

.car-view__search-btn--align {
	margin-top: 125px;
}

.superdeals-featured-cnabadv--padding {
	padding-top: 86px;
}

.car-view__tab {
    margin: 0 auto;
    overflow: hidden;
    width: 516px;
    border: none;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Style the buttons inside the tab */
.car-view__tab button {
	background-color: inherit;
	float: left;
	width: 33.33%;
	border: none;
	border-right: 1px solid #ccc;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	font-size: 19px;
	height: 60px;
}

.car-view__tab--resize {
	width: 10%;
}

.car-view__tab--resize button {
	width: 100%;
}

/* Change background color of buttons on hover */
.car-view__tab button:hover {
  	color: #E3001B;
  	border-bottom: 4px solid #E3001B;
}

/* Create an active/current tablink class */
.car-view__tab button.active {
  	color: #E3001B;
  	border-bottom: 4px solid #E3001B;
}

.car-view__tab-show {
	margin-top: 50px;
	font-weight: normal;
}

.car-view__calculate {
	border-radius: 30px;
    background-color: #F6F8F8;
    border: none;
    color: black;
    font-size: 19px;
    padding-left: 32px;
    height: 60px;
}

.banner-search__title--margin {
	padding-top: 83px;
	margin-bottom: 50px;
}

.car-view__position {
    display: table;
    width: 100%;
    position: relative;
}

.car-view__bookmark {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.car-view__bookmark img {
    padding: 10px;
    width: 40px;
}

.car-view__link-outer {
	margin-top: 30px;
}

@media screen and (max-width: 992px) {
	.breadcrumb {
		margin-top: 60px;
		padding: 10px;
		height: auto;
	}

	.breadcrumb li.active {
		font-size: 12px;
	}

	.breadcrumb li a {
		font-size: 12px;
	}
	

	.car-view {
	    margin-left: 15px;
	    margin-right: 0px;
	}

	.car-view__flex {
		font-size: 12px;
	}

	.car-view__variant {
		font-size: 20px;
	}

	.car-view__price-currency {
		bottom: 10px;
	}

	.car-view__price-figure {
	    font-size: 30px;
	}

	.banner-search__title--position {
		padding-top: 20px;
	}

	.car-view__fixed {
		height: auto;
		padding-left: 40px;
	}

	.car-view__fixed-button {
		width: 35px;
		height: 35px;
		margin-top: 10px;
		margin-right: 10px;
	}

	.car-view__fixed-button img {
		width: 20px;
		margin-top: 0;
		margin-left: -4px;
	}

	.car-view__fixed-text--stylise {
		margin-top: 10px;
		font-size: 22px;
	}

	.car-view__fixed-price {
		display: none;
	}

	.car-view__search-btn {
		width: 115px;
		height: 40px;
		margin-top: 0px;
	}

	.car-view__search-btn-text {
		font-size: 16px;
	}

	.car-view__details {
		margin-left: 15px;
		margin-right: 15px;
	}

	.car-view__details-highlights {
		margin-left: 15px;
		margin-right: 15px;
	}

	.car-view__search-btn--align {
     	margin-top: 10px; 
	}

	.car-view__calculate {
		height: auto;
		padding-left: 20px;
	}

	.superdeals-featured-cnabadv-container {
		width: 320px;
	}

	.car-view__highlights {
		column-count: initial;
		height: auto;
	}

	.car-view__tab {
		width: 80%;
	}

	.car-view__tab button {
		font-size: 12px;
		height: 50px;
	}
}