.numberplate-view__numberplate {
    width: 843px;
	height: 562px;
	border-radius: 35px;
    background-color: #009DDD;
}

.numberplate-view__numberplate-text {
	font-size: 100px;
    font-weight: bold;
    font-style: italic;
    font-family: "Playfair Display", serif;
    text-align: center;
  	padding-top: 215px;
    color: #fff;
}

@media screen and (max-width: 992px) {
    .numberplate-view__numberplate {
        width: 300px;
        height: 200px;
        margin: 0 auto;
    }

    .numberplate-view__numberplate-text {
        font-size: 50px;
        padding-top: 40px;
    }
}