body {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: black;
    margin: 0;
}

.navbar-light {
    background-color: white;
    max-height: 134px;
    height: 100%;
    padding-left: 50px;
    padding-right: 45px;
    border: none;
}

.navbar-light .nav-link {
    color: black !important;
}

.navbar-brand {
   margin-top: 32px;
}

#logo {
    width: 100%;
    max-width: 186px;
    position: relative;
    bottom: 15px;
}

#logo-responsive {
    display: none;
}

.mr-auto {
    font-size: 25px;
    margin-left: 20px;
}

.mr-auto .nav-link {
    padding-right: 38px !important;
    background-color: transparent !important;
}

.mr-auto .nav-link:hover, .mr-auto .nav-link:active, .mr-auto .nav-link:focus, .mr-auto .nav-link:focus-visible {
    background-color: transparent !important;
    color: #E3001B !important;
    text-decoration: underline !important;
}

.mr-auto .dropdown-menu {
    margin-top: 59px !important;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    font-size: 19px;
}

#w2 {
    width: 100%;
    min-width: 1412px;
}

#w3 {
    width: 100%;
    min-width: 556px;
}

.mr-auto .dropdown-header {
    padding: 0;
    font-size: 25px;
    color: #1A1818;
    margin-bottom: 28px;
}

.mr-auto .dropdown-item  {
    margin-bottom: 28px;
    padding-left: 0;
}

.mr-auto .dropdown-toggle::after {
    display: none;
}

.ml-auto {
    font-size: 18px;
    width: 33%;
}

.ml-auto .nav-item {
    padding-right: 32px !important;
}

.ml-auto .dropdown {
    border-radius: 30px; 
    background-color: #F6F8F8;
    padding-top: 5px;
    padding-left: 32px;
    width: 100%;
    max-width: 164px;
    height: 60px;
}

.ml-auto .dropdown-toggle::after {
    color: #E3001B;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-left: none;
    border-top: none;
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.ml-auto .dropdown-menu {
    border: none;
    border-radius: 10px !important;
    background-color: #F6F8F8;
    padding-top: 21px;
}

.ml-auto .dropdown-item {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 30px;
    padding-left: 25px;
}

.main-header__comparison-images {
    height: 100%;
    max-height: 35px;
}

.padding-bottom-10 {
    padding-bottom: 10px!important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

#footer-section {
    width: 100%;
    list-style: none;
    margin: 0px;
    box-sizing: border-box;
    padding-top: 83px;
    padding-bottom: 0px;
    background-color: #009DDD;
    color: white;
    padding-left: 116px;
    padding-right: 116px;
}

.footer-section__left h3 {
    font-size: 25px;
}

.footer-section__left-responsive {
    display: none;
}

.footer-section__location {
    list-style-type: none;
    font-weight: normal;
    padding: 2px 0;
}

.footer-section__right {
    max-width: 314px;
}

.footer-section__connect {
    display: flex;
}

.footer-section__connect_icon {
    width: 49px;
    margin-right: 40px;
}

.footer-section__location a, .low-footer a, .footer-section__left-responsive a {
    color: white;
}

.low-footer {
    padding-top: 52px;
}

.low-footer__bottom-section {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.low-footer__bottom-section-list {
    padding: 0 50px;
}

.low-footer__bottom-section-list--no-padding-left {
    padding-left: 0;
}

.low-footer__bottom-section-list--no-padding-right {
    padding-right: 0;
}

.low-footer__bottom-copyright {
    margin-top: 50px;
    margin-bottom: 75px;
}

.footer-section__contact {
    font-weight: normal;
    line-height: 1;
}

.page-home {
    width: 100%;
}

.insights-view__title {
    font-family: "Playfair Display", serif;
    font-size: 57px;
    font-weight: bold;
    font-style: italic;
    color: #009DDD;
}

.insights-view__title a {
    color: #009DDD;
}


.insights {
    margin-left: 85px;
    margin-right: 98px;
}

.insights-page {
    margin-left: 224px;
    margin-right: 225px;
    margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
    body {
        font-size: 12px;
    }

    #main-header {
        display: none;
    }

    #logo-responsive {
        width: 100%;
        max-width: 100px;
        display: block;
        position: absolute;
        left: 36%;
        top: 10px;
    }

    .header__nav {
        display: block;
        width: 70px;
        height: 50px;
        position: fixed;
        border: none;
        bottom: 12%;
        right: 9%;
        transform: skewX(170deg);
        -webkit-transform: skewX(170deg);
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 10px;
        background-color: #F6F8F8;
        z-index: 2;
        box-shadow: 1px 1px 1px #ccc;
    }

    .header__burger {
        display: block;
        width: 30px;
        height: 2px;
        border-radius: 1px;
        margin-left: 5px;
        margin-bottom: 7px;
        background-color: black;
        transform: skewX(10deg);
        -webkit-transform: skewX(10deg);
    }

    .header__burger--adjust {
        width: 15px;
    }

    #footer-section {
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer-section__left {
        display: none;
    }

    .footer-section__left-responsive {
        display: block;
    }

    .footer-section__connect_icon {
        margin-right: 20px;
    }

    .footer-section__column {
        display: flex;
        justify-content: space-between;
    }

    .footer-section__column-plus {
        font-size: 30px;
    }

    .footer-section__divider {
        padding-left: 0;
        padding-right: 0;
    }

    .low-footer__bottom-section-list {
        padding-right: 10px;
    }

    .insights {
        margin-left: 25px;
        margin-right: 28px;
    }

    .insights-page {
        margin-left: 55px;
        margin-right: 55px;
        margin-bottom: 30px;
    }
}



